@import "_sass/_variables.scss";

/*-- scss:rules --*/

/*
---------------
Main
---------------
*/

body {
    background-color:$primary;
}

a {
    text-decoration: none;
}

.navbar {
    background-color:rgba($secondary,.7);
}

h1,h2,h3,h4,h5 {
    color:lightblue;
    margin:15px;
}

p, span, td, th, li, ul, input, div {
    color: #fafbfc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.indexBackground {
    background-image:linear-gradient(to bottom right, #060b69, lighten($primary,2),#401540);
}
input {
    background: none;
    border: none;
    padding:5px;
    display:block;
    font-size:16px;
    
    &:focus {
        border-color: $secondary;
        outline: 0;
        outline: thin dotted \9;
        box-shadow: inset 0 1px 3px rgba($text-color, 0.06),
            0 0 5px rgba($secondary, 0.7);
        cursor:text;
    }
}

.link {
    color:blue;
    text-decoration: underline;
    cursor:pointer;
}

.icon {
    height: 50px;
    fill:white;
}

/*
---------------
Buttons
---------------
*/
.btn {
    background-color:$button;
    border: $button-border 2px  solid;
    color: white;

    &:hover {
        background-color:$button-light;
        border: $button-border-light 2px solid;
        color: white;
    }
}

/*
---------------
Footer
---------------
*/

footer {
    background-color:$secondary;    
    height:150px;
    margin-left:0;
    margin-right:0;
    float:left;
    width:100%;
}

/*
---------------
Misc
---------------
*/

.userAuth {
    border-radius:10px;
    padding:15px;
    border: $button-border solid 3px;
    background-color:$secondary;
}

.text-box {
    border-radius: 10px;
    border: $primary 3px solid;
    background-color: rgba($primary,.5);
    padding:10px;
    text-align: center;
    box-shadow:$primary 10px 10px 10px;
}

.homeTile {
    padding:5px;
    background-color: $primary;
    height: 150px;
    width: 260px;
    display: inline;
    text-align:center;
    color:white;
    margin: 10px;
    border-radius:20px;
    border: $button-border 1px solid;

    &:hover {
        border: $button-border-light 1px solid;
    }
}

.tileContainer {
    display:inline;
    margin:auto;
    text-align:center;
}